
body{
    padding: 0;
    margin: 0;
    font-family: inter;   
}
header {
    position: sticky;
    top: 0;
    background-color:#1D3F54;
    /* margin-bottom: 40PX; */
    
    padding: 10px 0;
    z-index: 1000; 
}
nav{
    display: flex;
    align-items: center;
    padding-left: 5%;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    list-style: none;
    margin-left: 200px;
    text-align: center;
}
.menu_burger{
    display: none;
    cursor: pointer;
}
.logo{
    font-size: 30px;
    font-weight:bold;
    color:#bcd3e2;
}
.a_menu{
    align-items: center;
    text-decoration: none;
    color: #bcd3e2;
    font-weight: 600;
    cursor: pointer;
}
.a_menu:visited{
    color:#96C5E2;
}
.a_menu:hover{
    color: #96C5E2;
    text-decoration: underline;
}
.a_menu:active{
    color: #96C5E2;
    text-decoration:underline;  
}
#subheader{
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 20px; */
    gap: 10%;
   
}
h1{
    font-size: 50px;
}
.text_subheader{
/* width: 40%;  */
margin-left: 50px;
}
.txt1{
    color:#0678b4;
    font-size: 30px;
    font-weight: bold;
    margin-top: 30px;
}
span{
    color:#0678b4;
}
.photo_subheader{
  /* width: 40%;   */
  text-align: center;
}
.btn1_subheader{
    color: white;
    background-color: #0678b4;
    border: solid #0678b4;
    border-radius: 10%;
    font-size: 15px;
    width: 150px;
    padding: 2%;
}
.btn2_subheader{
    border: solid #0678b4;
    border-radius: 10%;
    color: #0678b4;
    font-size: 15px;
    width: 150px;
    padding: 2%;

}
.btn1_subheader a{
    color: white;
}
.btn2_subheader a{
    color: #000000;
}
a{
    text-decoration: none;
}
#about{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin: 20px;
    gap: 10%;
}
h2{
    font-size: 70px;
    text-align: center;
    color: #0678b4;
}
.photo_about{
    width: 40%;
    text-align: center;
}
.text_about{
    width: 40%;
    font-size: 20px;
}
.btn_about{
    color:#1D3F54;
    background-color: #D9D9D9;
    border: solid #D9D9D9;
    border-radius: 10%;
    font-size: 12px;
    width: 200px;
    padding: 2%;
}
#services{
    margin: 20px;
}
.p_services{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.box_services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15PX;
}
.box{
    background-color: #1D3F54;
    width: 450px;
    height: 250px;
    transition: 0.3s;
}
.box:hover{
    transform: scale(1.05);
    opacity: 0.5;
}
h4{
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    color: white;
    font-size: 20px;
    margin-top: 90PX;
}
.info{
    color: #1D3F54;
    font-size: 18px;
}

.skills_container{
     justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding:0 5% 0 5%;
    gap: 20px;
}

.p_skills{
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.skill {
    width: 400px;
    
}

.skill-name {
    color: #1D3F54;
    font-weight: bold;
    margin-bottom: 15px;
}

.skill-bar {
    width: 100%;
    background-color: #d9d9d9;
}

.skill-bar-fill {
    height: 22px;
    background-color:#96C5E2;
    text-align: right;
    padding: 7px;
    font-weight: bold;
    color:#1D3F54;
  
}
.section1, .section2, .section3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.section2, .section3{
    margin-top: 50px;
}
/* .card{
    background-color: #96C5E2;
    padding: 1.5px;
    border: solid #96C5E2;
    box-shadow: 1px 2px 1px #96C5E2;
} */
.project_container{
    position: relative;
    display: inline-block;
    border: solid #1D3F54;
    box-shadow: 1px 2px 3px #1D3F54;
    background-color: #1D3F54;

}
.image_project{
    width: 400px;
    height: 300px;
    
}
.title_project{
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
    font-size: 30px;
    transition: 1s;
    
}
.link_project{
    color: white;
    font-weight: bold;
    font-size: 35px;
}
.project_container:hover .image_project{
    opacity: 0.2;
  
}
.project_container:hover .title_project{
    opacity: 1;
    transform: scale(1.2);
}
.p_contactus{
    font-size: 20px;
    text-align: center;
}
.content_contactus{
    color: #1D3F54;
    margin: 30px 150px 30px 150px;
    display: flex;
    justify-content: space-between;
}
#section_formulaire{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color:#EEEEEE;
    font-size: 20px;
    width: 400px;
    padding: 3%;
    height: 400px;
}

#form_nom{
    background-color: #D9D9D9;
    border-style: none;
    padding: 3%;
    width: 380px;
}
#form_email{
    background-color: #D9D9D9;
    border-style: none;
    padding: 3%;
    width: 380px;
    margin-top: 30px;
}
#form_message{
    margin-top: 30px;
    background-color: #D9D9D9;
    border-style: none;
    padding: 3%;
    width: 380px;
}
.button_form{
    cursor: pointer;
    margin-top: 30px;
    color: white;
    background-color:#0678b4;
    border: solid #0678b4;
    border-radius: 10%;
    font-size: 15px;
    width: 150px;
    padding: 2%;
}
.section_footer{
    /* background-image: url("ressources/56cce1e2-268d-4ea2-83bd-964152103420.png");
    background-size:cover; */
    
}
.section_footer{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
}
.div_footer{
    font-size: 20px;
}
.liste_footer li{
    list-style:none;
}
.liste_footer li::marker{
    color:#0678b4;
}
.a_footer{
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
    color: #000000;
    font-weight: 500;
}
.a_footer:hover{
    color: #0678b4;
}
h3{
    margin-left: 40px;
    color:#0678b4;
    font-size: 30px;
}
footer{
   
}
.ligne{
    margin-top: 10px;
    height: 5px;
    background-color: #1D3F54;
    margin: 2% 5% 2% 5%;
}

.copyright{
    bottom: 0;
    color: #1D3F54;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.slide_in_up{
    opacity: 0;
    transform: translateY(50px);
    animation: slideInUp 0.9s forwards;
}
@keyframes slideInUp{
    from{
        opacity: 0;
        transform:translateY(50px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}
.slide_in_right{
    opacity: 0;
    transform: translateX(-50px);
    animation: slideInRight 1s forwards;
}
@keyframes slideInRight{
    from{
        opacity: 0;
        transform: translateX(-50px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
.slide_in_left{
    opacity: 0;
    transform: translateX(50px);
    animation: slideInLeft 0.9s forwards;
}
@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}


@media (max-width:768px){
    .menu{
        display: none;
        flex-direction: column;
        background-color: #bcd3e2;
        color: #1D3F54;
    }
    .menu_burger{
        display: block;
        margin-left: 200px;
        color: #96C5E2;
    }
    .menu.active{
        display: block;
        flex-direction: column;
        background-color: #bcd3e2;
        color: #1D3F54;
    }
    #subheader{
        margin-top: 25px;
        flex-direction: column;
    }
    h1{
        font-size: 20px;
        align-items: center;
        width: max-content;

    }
    .button_subheader{
        width: 200px;
        display: flex;
       gap: 10px;
       
    }
    .photo_about{
        display: none;
    }
    .text_about{
        width: max-content;
    }
    h2{
        font-size: 40px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    h4{
        padding: 5%;
    }
    .p_services{
        margin: 0px 0px 20px 0px;

    }
    .section1{
        display: block;
    }
    .section1 img{
        width: 355px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .section2{
        display: block;
    }
    .section2 img{
        width: 355px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .section3{
        display: block;
    }
    .section3 img{
        width: 355px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .p_skills{
        margin: 15px;
        margin-bottom: 20px;
    }
    .p_contactus{
        margin: 10px;
    }
    .content_contactus{
        display: block;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    #contact_form{
        display: block;
    }
    .photo_form img{
        display: none;
    }
    .container{
        width: 333px;
        margin-left: 10px;
        margin-right: 10px;
    }
    #form_nom{
        width: 315px;
    }
    #form_email{
        width: 315px;
    }
    #form_adresse{
        width: 315px;
    }
    #form_message{
        width: 315px;
    }
    .button_form{
        width: 150px;
        margin-left: 80PX;
        align-items: center;
        justify-content: center;
    }
    
    .section_footer{
       justify-content: left;
       text-align: left;
       display: block;
    }


}
    






